<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<body>
		<h2>Sign up</h2>

		<form action="">
			Enter first name <input name="firstname" type="text">
			<br><br>
			Enter last name <input name="lastname" type="text"> 
			<br><br>
			Enter email <input name="emailid" type="email"> 
			<br><br>
			Password <input type="password" name ="pass">
			<br><br>
			<input type="radio" name="gender" value="female"> Female
			<input type="radio" name="gender" value="male"> Male
			<br><br>
			Do you know coding? <input type="checkbox" name="codingknowledge"> Yes
			<br><br>
			Do you know frontend? <input type="checkbox" name="frontendknowledge"> Yes
			<br><br>
			Select your favourite colour <input type="color" name="favcolor">
			<br><br>
			Enter your birthday <input type="date" name="birthday">
			<br><br>
			Upload resume <input type="file" name="uploadedfile">
			<br><br>

			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div>

			<input type="submit">

			<input type="reset">
			<br><br>
		</form>

		<video width="320" height="240" controls>
			<source src="mov_bbb.mp4" type="video/mp4">
		</video>
	</body>
</html>
